<h1>Edit Item</h1>
<%= form_for @changeset, AuctionWeb.Router.Helpers.item_path(@conn, :update, @item.id), [method: :put], fn f -> %>
  <%= label f, :title %>
  <%= text_input f, :title %>

  <%= label f, :description %>
  <%= textarea f, :description %>

  <%= label f, :ends_at, "Auction ends at" %>
  <%= datetime_select f, :ends_at %>

  <div>
      <%= submit "Submit" %>
  </div>
<% end %>