<h1>User Registration</h1>
<%= form_for @user, AuctionWeb.Router.Helpers.user_path(@conn, :create), fn f -> %>
  <%= label f, :username %>
  <%= text_input f, :username %>

  <%= label f, :email_address %>
  <%= text_input f, :email_address %>

  <%= label f, :password %>
  <%= password_input f, :password %>

  <%= label f, :password_confirmation %>
  <%= password_input f, :password_confirmation %>
  <div>
    <%= submit "Submit" %>
  </div>
<% end %>